<!DOCTYPE html>
<div class="home-outerwrap">
    <div class="home-innerwrap-wrapper">
        <div class="home-innerwrap">
            <div class="home-innerwrap-title-container">
                <p class="home-innerwrap-title">{{firstName}}'s TASKS</p>
            </div>
            <div class="home-innerwrap-task-container">
                <main-directive todo="list" add-task-func="addTask(newTaskParam)" delete-task-func="deleteTask(dt)"></main-directive>
            </div>
        </div>
    </div>
</div>