.home-outerwrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     /* background: blue;    */
}
.home-innerwrap-wrapper {
    width: 340px;
    height: 446px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    /* padding: 18px 25px 25px 25px;  */
       /* background: yellow;    */
}
.home-innerwrap {
    width: 100%;
    height: 100%;
     /* background: pink;  */
}
.home-innerwrap-title-container {
    width: 100%;
    height: 20%;
    /* background: grey;     */
}
.home-innerwrap-title {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.2em;
    color: black;
    text-align: center;
    text-transform: uppercase;
    /* background: purple;        */
}
.home-innerwrap-task-container {
    width: auto;
    height: 80%;
    margin: 0 25px 25px 25px;  
    overflow: hidden;
    /* background: green;          */
}
